html {font-size: 1em;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', serif;
    line-height: 1.4;
}

::selection {
    background: #e16161;
}

header, main article, footer article {
    margin: 10% auto;
    max-width: 550px;
}

header { padding-left: .5em }

h1, h2, h3, h4 {
    font-family: 'Cardo', serif;
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
}


/* scale made using https://type-scale.com/ */

h1 {
    margin-top: 0;
    font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

a {
    color: #0B4F6C;
    font-size: 1.1em;
}

a:hover {
    color: #D62828;
}

ul {
    font-size: 1.2em;
}

#splash {
    width: 100%;
    border: solid gray 1px;
    box-sizing: border-box;
}

#splash img {
    width: 100%;
}

article {
    padding: 30px;
}

footer article {
    margin: 0 auto;
}

#truism {
    margin: 0 auto;
    height: 300px;
    max-width: 550px;
    padding: 50px;
    box-sizing: border-box;
    background-image: url(imgs/blackandwhite_small.jpg);
    background-blend-mode: overlay;
    background-color: rgba(200,200,200,0.7);
    box-shadow: 3px 4px 11px 0px darkgrey;
    background-size: cover;

    font-size: 36px !important;
    font-family: serif;
    text-align: center;
}

#truism p {
    line-height: 1.5;
    letter-spacing: .2rem;
    margin: 0 auto;

    /* engraved effect from this pen: https://codepen.io/daryl/pen/yAuGj */
    background-color: #666666;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,.5) 3px 5px 1px;
}